<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmalinens.rigassatiksme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jmalinens.rigassatiksme.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jmalinens.rigassatiksme.KarteActivity"
            android:label="@string/title_activity_pieturas"
            android:parentActivityName="com.jmalinens.rigassatiksme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmalinens.rigassatiksme.MainActivity" />
        </activity>
        <activity
            android:name="com.jmalinens.rigassatiksme.MarsrutiActivity"
            android:label="@string/title_activity_marsruti"
            android:parentActivityName="com.jmalinens.rigassatiksme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmalinens.rigassatiksme.MainActivity" />
        </activity>
        <activity
            android:name="com.jmalinens.rigassatiksme.MarsrutsActivity"
            android:label="Maršruta pieturas"
            android:parentActivityName="com.jmalinens.rigassatiksme.MarsrutiActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmalinens.rigassatiksme.MarsrutiActivity" />
        </activity>
        <activity
            android:name="com.jmalinens.rigassatiksme.PieturaActivity"
            android:label="Pietura"
            android:parentActivityName="com.jmalinens.rigassatiksme.MarsrutsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmalinens.rigassatiksme.MarsrutsActivity" />
        </activity>
    </application>

</manifest>